---
layout: default
---
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="col-md-8">
                <h1>Alcoholics Anonymous</h1>
                <p>Savannah, Georgia | (912) 356-3688 (24 hours a day)</p>
                <h2 class="pull-left">Savannah AA Meetings</h2>
            </div>
            <div class="col-md-4">
                <a class="btn btn-default btn-lg" href="Meeting_Schedule030116.pdf" download role="button" id="dloadmtg">Download Print Schedule &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#monday" aria-controls="monday" role="tab" data-toggle="tab">Monday</a></li>
                    <li role="presentation"><a href="#tuesday" aria-controls="tuesday" role="tab" data-toggle="tab">Tuesday</a></li>
                    <li role="presentation"><a href="#wednesday" aria-controls="wednesday" role="tab" data-toggle="tab">Wednesday</a></li>
                    <li role="presentation"><a href="#thursday" aria-controls="thursday" role="tab" data-toggle="tab">Thursday</a></li>
                    <li role="presentation"><a href="#friday" aria-controls="friday" role="tab" data-toggle="tab">Friday</a></li>
                    <li role="presentation"><a href="#saturday" aria-controls="saturday" role="tab" data-toggle="tab">Saturday</a></li>
                    <li role="presentation"><a href="#sunday" aria-controls="sunday" role="tab" data-toggle="tab">Sunday</a></li>
                </ul>

                <!-- Tab panes -->
                <!-- To edit meetings, edit the days of the week files in the includes folder -->
                <div class="tab-content">
                    {% include monday.html %}
                    {% include tuesday.html %}
                    {% include wednesday.html %}
                    {% include thursday.html %}
                    {% include friday.html %}
                    {% include saturday.html %}
                    {% include sunday.html %}
                </div>
            </div>
            <div class="col-md-3">
                <h4>Meeting Codes</h4>
                <ul class="small">
                    <li>X = Closed Meeting (alcoholics only)</li>
                    <li>O = Open Meeting (all welcome)</li>
                    <li>YP= Young People (all welcome)</li>
                    <li>BB = Big Book Study</li>
                    <li>S = Speaker Meeting</li>
                    <li>SS = Step Study</li>
                    <li>W = Women's Meeting</li>
                    <li>M = Men's Meeting</li>
                    <li>Bg = Beginner's Meeting</li>
                    <li>SP = Spanish Speaking</li>
                </ul>
            </div>

        </div>

    </div>

    <hr>