---
layout: default
title: Find an AA Meeting | Savannah Area Intergroup | Alcoholics Anonymous of Savannah, Georgia
description: Savannah AA Meetings List - Alcoholics Anonymous Meetings in Savannah and District 5, Including Richmond Hill, Chatham County, Bryan County, Effingham County, Rincon, Springfield, Guyton, Hinesville and Tybee Island
keywords: AA meetings Savannah, AA meetings Richmond Hill, AA meetings Rincon, AA meetings Springfield, AA meetings Guyton, AA meetings Hinesville, AA meetings Chatham County, AA meetings Bryan County, AA meetings Effingham County, AA meetings Tybee Island
---
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="col-md-8">
                <h1>Alcoholics Anonymous</h1>
                <p>Savannah, Georgia | <a href="tel:+19123563688" style="color:#fff;">(912) 356-3688</a> (24 hours a day)</p>
                <h2 class="pull-left">Savannah AA Meetings</h2>
            </div>
            <div class="col-md-4">
                <a class="btn btn-default btn-lg" href="Meeting_Schedule_05-15-16.pdf" download role="button" id="dloadmtg">Download Print Schedule &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="container" id="top">
        <div class="row">
            <div class="col-md-12 well">
                <h4>Meeting Codes</h4>
                <ul class="small list-inline">
                    <li>C = Closed Meeting (alcoholics only)</li>
                    <li>O = Open Meeting (all welcome)</li>
                    <li>G = LGBT
                    <li>YP = Young People (all welcome)</li>
                    <li>BB = Big Book Study</li>
                    <li>BK = Book Study</li>
                    <li>S = Speaker Meeting</li>
                    <li>SS = Step Study</li>
                    <li>W = Women's Meeting</li>
                    <li>M = Men's Meeting</li>
                    <li>BG = Beginner's Meeting</li>
                    <li>SP = Spanish Speaking</li>
                    <li>P = Prayer</li>
                </ul>
            </div>
            <div class="col-md-12">
                <!-- Nav tabs -->
                
                <div class="alert alert-info alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Did You Know?</strong> Meetings can be custom sorted by clicking the table header. For example, try clicking or tapping on "City/Location."
                </div>
                <div class="alert alert-warning visible-xs" role="alert">On mobile, touch Day Name to Collapse &amp; Select Another Day, swipe to scroll table.</div>

                <ul id="myTab" class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#sunday" aria-controls="sunday" role="tab" data-toggle="tab">Sunday</a></li>
                    <li role="presentation"><a href="#monday" aria-controls="monday" role="tab" data-toggle="tab">Monday</a></li>
                    <li role="presentation"><a href="#tuesday" aria-controls="tuesday" role="tab" data-toggle="tab">Tuesday</a></li>
                    <li role="presentation"><a href="#wednesday" aria-controls="wednesday" role="tab" data-toggle="tab">Wednesday</a></li>
                    <li role="presentation"><a href="#thursday" aria-controls="thursday" role="tab" data-toggle="tab">Thursday</a></li>
                    <li role="presentation"><a href="#friday" aria-controls="friday" role="tab" data-toggle="tab">Friday</a></li>
                    <li role="presentation"><a href="#saturday" aria-controls="saturday" role="tab" data-toggle="tab">Saturday</a></li>
                </ul>

                <!-- Tab panes -->
                <!-- To edit meetings, edit the days of the week files in the includes folder -->
                <div class="tab-content">
                    {% include sunday.html %}
                    {% include monday.html %}
                    {% include tuesday.html %}
                    {% include wednesday.html %}
                    {% include thursday.html %}
                    {% include friday.html %}
                    {% include saturday.html %}
                </div>
            </div>
            <p class="small">Please send any schedule changes to <a href="mailto:sig.office@savannahaa.com">sig.office@savannahaa.com</a></p>
            

        </div>

    </div>


    <hr>