<footer>

  <div class="row">
            <div class="col-md-5 col-md-offset-1">
              <p>&copy; 2016 Savannah Area Intergroup <a href="disclaimer.html">Terms &amp; Conditions</a></p>
            </div>
            <div class="col-md-6">
              <p>Intergroup Office | (912) 356-3688 | 6205 Abercorn Street, Suite 110 <a href="https://goo.gl/maps/t7y3FxdWWsN2" target="_blank" role="button"> View Map &raquo;</a></p>
            </div>
        </div>

</footer>


 <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/sorttable.js"></script>
        <script src="js/bootstrap-tabcollapse.js"></script>
        <script type="text/javascript">
            $('#myTab').tabCollapse();
        </script>
        <script type="application/ld+json">
        {
          "@context" : "http://schema.org",
          "@type" : "Organization",
          "url" : "http://www.savannahaa.com",
          "contactPoint" : [{
            "@type" : "ContactPoint",
            "telephone" : "+1-912-356-3688",
            "contactType" : "emergency"
          }]
        }
        </script>
        <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "Organization",
              "url": "http://www.savannahaa.com",
              "logo": "http://www.savannahaa.com/img/aa-logo.png"
            }
        </script>

        <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "http://savannahaa.com/meetings",
              "name": "Meetings"
            }
          },{
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "http://savannahaa.com/meetings.html#sunday",
              "name": "Sunday"
            }
          },{
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "http://savannahaa.com/meetings.html#monday",
              "name": "Monday"
            }
            },{
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "http://savannahaa.com/meetings.html#tuesday",
              "name": "tuesday"
            }
            },{
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "http://savannahaa.com/meetings.html#wednesday",
              "name": "wednesday"
            }
            },{
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "http://savannahaa.com/meetings.html#thursday",
              "name": "thursday"
            }
            },{
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "http://savannahaa.com/meetings.html#friday",
              "name": "friday"
            }
            },{
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "http://savannahaa.com/meetings.html#saturday",
              "name": "saturday"
            }
          }]
        }
        </script>
