<footer>

  <div class="row">
            <div class="col-md-5 col-md-offset-1">
              <p>&copy; 2016 Savannah Area Intergroup <a href="#">Terms &amp; Conditions</a></p>
            </div>
            <div class="col-md-6">
              <p>Intergroup Office | (912) 356-3688 | 6205 Abercorn Street, Suite 110 <a href="#" role="button"> View Map &raquo;</a></p>
            </div>
        </div>

</footer>


 <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/sorttable.js"></script>
        <script src="js/bootstrap-tabcollapse.js"></script>
        <script type="text/javascript">
            $('#myTab').tabCollapse();
        </script>
