<div role="tabpanel" class="tab-pane" id="friday">
    <div class="table-responsive">
        <table class="table sortable">
                <tr>
                    <th>Time</th>
                    <th>Meeting Name</th>
                    <th>City / Area</th>
                    <th>Location <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></th>
                    <th>Codes</th>
                    <th>Accessible</th>
                </tr>
                <tr>
                    <td>07:00 AM</td>
                    <td>Sunrise Solutions</td>
                    <td>Downtown</td>
                    <td><a href="https://goo.gl/maps/YegzMitNXNs" target="_blank">St. John's Episcopal Church - 27 W. Charlton St.</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>07:30 AM</td>
                    <td>Hats Off Group</td>
                    <td>Southside</td>
                    <<td><a href="https://goo.gl/maps/YAJ5y4WpQnu" target="_blank">SI United Methodist Church - 54 Diamond Cswy</a></td>
                    <td>C, BB</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>07:30 AM</td>
                    <td>Early Bird Group</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>08:00 AM</td>
                    <td>Downtown Group</td>
                    <td>Downtown</td>
                    <td><a href="https://goo.gl/maps/7nXPTvy9ror" target="_blank">Tapestry Church Office - 1020 Abercorn</a></td>
                    <td>O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12:00 PM</td>
                    <td>Freethinkers/Athiests/Agnostics</td>
                    <td>Downtown</td>
                    <td><a href="https://goo.gl/maps/7nXPTvy9ror" target="_blank">Tapestry Church Office - 1020 Abercorn</a></td>
                    <td>O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12:00 PM</td>
                    <td>High Noon Group</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>12:00 PM</td>
                    <td>Had Enough Group</td>
                    <td>Hinesville</td>
                    <td><a href="https://goo.gl/maps/VHgT1UTcg6B2" target="_blank">Behind Red Cross Bldg - 216 Fraser Drive</a></td>
                    <td>O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12:00 PM</td>
                    <td>Benton Blvd Mtg</td>
                    <td>Pooler</td>
                    <td><a href="https://goo.gl/maps/QxGoxpqC7e92" target="_blank">Church @ Godley Station - 1601 Benton Blvd.</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>1:00 PM</td>
                    <td>Brown Bag Group</td>
                    <td>Downtown</td>
                    <td><a href="https://goo.gl/maps/iEqx7cBtNdJ2" target="_blank">18 Abercorn Street (Enter on Bryan)</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>5:30 PM</td>
                    <td>After Five Group</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                    <td>O, BB, SS</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>6:00 PM</td>
                    <td>Tybee Group</td>
                    <td>Tybee</td>
                    <td><a href="https://goo.gl/maps/1dgJtvzGbgB2" target="_blank">Trinity United Methodist Church - 911 Butler Ave</a></td>
                    <td>O, P</td>
                    <td></td>
                </tr>
                <tr>
                    <td>7:00 PM</td>
                    <td>Primary Purpose</td>
                    <td>Bloomingdale</td>
                    <td><a href="https://goo.gl/maps/v7bKT4hGRkA2" target="_blank">Westside Christian Church - 1010 US Hwy 80</a></td>
                    <td>O, BB</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Nueva Vida Group</td>
                    <td>Garden City</td>
                    <td><a href="https://goo.gl/maps/DQwtGqeTnRJ2" target="_blank">4907 Old Louisville Rd.</a></td>
                    <td>O, SP</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>3rd Tradition Group</td>
                    <td>Richmond Hill</td>
                    <td><a href="https://goo.gl/maps/CVqGpaoXxFU2" target="_blank">RH Methodist Ch. - 9050 Ford Ave (Hwy 144)</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>New Horizons</td>
                    <td>Rincon</td>
                    <td><a href="https://goo.gl/maps/Uyy1EbYyhxv" target="_blank">St. Luke's Episcopal Church - 155 Goshen Road</a></td>
                    <td>O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>12-Step Group</td>
                    <td>Southside</td>
                    <td><a href="https://goo.gl/maps/L5sitfpPRyB2" target="_blank">Goodwill Industries - 7220 Sallie Mood</a></td>
                    <td>O, SS</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Serenity Group</td>
                    <td>Wilmington Island</td>
                    <td><a href="https://goo.gl/maps/Piaa8V56xvo" target="_blank">W.I. Presbyterian Church - 450 N. Cromwell</a></td>
                    <td>C</td>
                    <td>N</td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Broad Highway</td>
                    <td>Eastside</td>
                    <td><a href="https://goo.gl/maps/DQF3KMaMamK2" target="_blank">St. Michael’s Episcopal Church - 3101 Waters Ave.</a></td>
                    <td>O, YP, BG</td>
                    <td>Y, Babysitting Avail.</td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Had Enough Group</td>
                    <td>Hinesville</td>
                    <td><a href="https://goo.gl/maps/VHgT1UTcg6B2" target="_blank">Behind Red Cross Bldg - 216 Fraser Drive</a></td>
                    <td>O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Grupo Lenguaje del Corazon</td>
                    <td>Southside</td>
                    <td>#2 Sage Ct. - behind Savannah Mall</td>
                    <td>O, SP</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Groupo 19 De Julio</td>
                    <td>Hardeville, SC</td>
                    <td><a href="https://goo.gl/maps/X5VC1Q4C5aQ2" target="_blank">18822 Whyte Hardee Blvd.</a></td>
                    <td>O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8:30 PM</td>
                    <td>White Bluff Group</td>
                    <td>Southside</td>
                    <td><a href="https://goo.gl/maps/npPzSYvzN5t" target="_blank">WB Presbyterian Church - 10710 White Bluff Rd</a></td>
                    <td>O, BB</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>08:30 PM</td>
                    <td>Don't Drink Liquor Club</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
        </table>
    </div>
</div>