<div role="tabpanel" class="tab-pane active" id="monday">
    <table class="table sortable">
        <tr>
            <th>Time</th>
            <th>Meeting Name</th>
            <th>City / Area</th>
            <th>Location <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></th>
            <th>Codes</th>
            <th>Accessible</th>
        </tr>
        <tr>
            <td>07:00 AM</td>
            <td>Sunrise Solutions</td>
            <td>Downtown</td>
            <td><a href="https://goo.gl/maps/YegzMitNXNs" target="_blank">Late Church - 27 W. Charlton St., Savannah</a></td>
            <td>O, C</td>
            <td>Y</td>
        </tr>
        <tr>
            <td>07:30 AM</td>
            <td>As Bill Sees It</td>
            <td>Southside</td>
            <td><a href="https://goo.gl/maps/YAJ5y4WpQnu" target="_blank">Skidaway Island United Methodist Church <br>- 54 Diamond Cswy, Savannah, GA 31411</a></td>
            <td>O</td>
            <td>N</td>
        </tr>
        <tr>
            <td>07:30 AM</td>
            <td>Early Bird Group</td>
            <td>Midtown</td>
            <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive, Savannah</a></td>
            <td>O</td>
            <td>Y</td>
        </tr>
        <tr>
            <td>12:00 PM</td>
            <td>High Noon Group</td>
            <td>Midtown</td>
            <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive, Savannah</a></td>
            <td>O, C</td>
            <td>Y</td>
        </tr>
        <tr>
            <td>5:30 PM</td>
            <td>After Five Group</td>
            <td>Midtown</td>
            <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive, Savannah</a></td>
            <td>O</td>
            <td>Y</td>
        </tr>
        <tr>
            <td>8:00 PM</td>
            <td>Savannah Group</td>
            <td>Midtown</td>
            <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive, Savannah</a></td>
            <td>O, S</td>
            <td>Y</td>
        </tr>
        <!--start with 12p Downtown Group-->
    </table>
</div>