<div role="tabpanel" class="tab-pane" id="monday">
    <div class="table-responsive">
        <table class="table sortable">
            <tr>
                <th>Time</th>
                <th>Meeting Name</th>
                <th>City / Area</th>
                <th>Location <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></th>
                <th>Codes</th>
                <th>Accessible</th>
            </tr>
            <tr>
                <td>07:00 AM</td>
                <td>Sunrise Solutions</td>
                <td>Downtown</td>
                <td><a href="https://goo.gl/maps/YegzMitNXNs" target="_blank">St. John's Episcopal Church - 27 W. Charlton St.</a></td>
                <td>O</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>07:30 AM</td>
                <td>Hats Off Skidaway</td>
                <td>Southside</td>
                <td><a href="https://goo.gl/maps/YAJ5y4WpQnu" target="_blank">SI United Methodist Church - 54 Diamond Cswy</a></td>
                <td>C</td>
                <td>N</td>
            </tr>
            <tr>
                <td>07:30 AM</td>
                <td>Early Bird Group</td>
                <td>Midtown</td>
                <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                <td>O</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>12:00 PM</td>
                <td>High Noon Group</td>
                <td>Midtown</td>
                <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                <td>O, SS</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>12:00 PM</td>
                <td>Tybee Group</td>
                <td>Tybee</td>
                <td><a href="https://goo.gl/maps/1dgJtvzGbgB2" target="_blank">Trinity United Methodist Church - 911 Butler Ave</a></td>
                <td>O, BK</td>
                <td></td>
            </tr>
            <tr>
                <td>12:00 PM</td>
                <td>Downtown Group</td>
                <td>Downtown</td>
                <td><a href="https://goo.gl/maps/7nXPTvy9ror" target="_blank">Tapestry Church Office - 1020 Abercorn</a></td>
                <td>O</td>
                <td></td>
            </tr>
            <tr>
                <td>12:00 PM</td>
                <td>4th Street Meeting</td>
                <td>Rincon</td>
                <td><a href="https://goo.gl/maps/jbC9b6Hwimk" target="_blank">Church of Christ - 306 4th St.</a></td>
                <td>O</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>12:00 PM</td>
                <td>Had Enough Group</td>
                <td>Hinesville</td>
                <td><a href="https://goo.gl/maps/VHgT1UTcg6B2" target="_blank">Behind Red Cross Bldg - 216 Fraser Drive</a></td>
                <td>O</td>
                <td></td>
            </tr>
            <tr>
                <td>1:00 PM</td>
                <td>Brown Bag Group</td>
                <td>Downtown</td>
                <td><a href="https://goo.gl/maps/iEqx7cBtNdJ2" target="_blank">18 Abercorn Street</a></td>
                <td>O</td>
                <td></td>
            </tr>
            <tr>
                <td>5:30 PM</td>
                <td>Downtown Group</td>
                <td>Downtown</td>
                <td><a href="https://goo.gl/maps/7nXPTvy9ror" target="_blank">Tapestry Church Office - 1020 Abercorn</a></td>
                <td>O</td>
                <td></td>
            </tr>
            <tr>
                <td>5:30 PM</td>
                <td>After Five Group</td>
                <td>Midtown</td>
                <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                <td>O</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>6:00 PM</td>
                <td>Pink Elephant Group</td>
                <td>Eastside</td>
                <td><a href="https://goo.gl/maps/z2AiWQMzHt52" target="_blank">Thunderbolt Baptist Church - 3205 Russell St.</a></td>
                <td>O</td>
                <td></td>
            </tr>
            <tr>
                <td>6:00 PM</td>
                <td>MC Men's Club</td>
                <td>Eastside</td>
                <td><a href="https://goo.gl/maps/JBci1tjkSKK2" target="_blank">Asbury Memorial - 1008 E. Henry St. (Duffy St. Entrance)</a></td>
                <td>O, M</td>
                <td></td>
            </tr>
            <tr>
                <td>6:00 PM</td>
                <td>Had Enough Group</td>
                <td>Hinesville</td>
                <td><a href="https://goo.gl/maps/VHgT1UTcg6B2" target="_blank">Behind Red Cross Bldg - 216 Fraser Drive</a></td>
                <td>C, BB</td>
                <td></td>
            </tr>
            <tr>
                <td>6:30 PM</td>
                <td>New Bridge Women's Group</td>
                <td>Tybee</td>
                <td><a href="https://goo.gl/maps/v6ixhckLBpx" target="_blank">All Saints Episcopal - 804 2nd Ave. (Back door)</a></td>
                <td>W, BB</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>7:00 PM</td>
                <td>New Pass It On</td>
                <td>Wilmington Island</td>
                <td><a href="https://goo.gl/maps/k2QxvNrgEv72" target="_blank">Lutheran Church of the Redeemer - 51 Wilmington Island Rd</a></td>
                <td>C, BB</td>
                <td></td>
            </tr>
            <tr>
                <td>7:00 PM</td>
                <td>Primary Purpose</td>
                <td>Bloomingdale</td>
                <td><a href="https://goo.gl/maps/v7bKT4hGRkA2" target="_blank">Westside Christian Church - 1010 US Hwy 80</a></td>
                <td>O, BB</td>
                <td></td>
            </tr>
            <tr>
                <td>7:30 PM</td>
                <td>Happy Hour</td>
                <td>Southside</td>
                <td><a href="https://goo.gl/maps/b2pUKye9V482" target="_blank">Higher Ground Baptist Church - 9120 Whitfield Ave</a></td>
                <td>C</td>
                <td></td>
            </tr>
            <tr>
                <td>7:30 PM</td>
                <td>17:30 Meeting</td>
                <td>Marlow</td>
                <td><a href="https://goo.gl/maps/T5Dzf4cQpEM2" target="_blank">Zion Lutheran Ch -121 Noel C Conway Rd (GA 30)</a></td>
                <td>BB</td>
                <td></td>
            </tr>
            <tr>
                <td>7:30 PM</td>
                <td>Saving Grace</td>
                <td>Guyton</td>
                <td><a href="https://goo.gl/maps/JRihXPUyzbm" target="_blank">New Hope Christian Ch - 2420 Courthouse Rd.</a></td>
                <td>BB</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>8:00 PM</td>
                <td>New Hope Honesty Group</td>
                <td>Downtown</td>
                <td><a href="https://goo.gl/maps/znz3A7yqh9k" target="_blank">St. Paul CME Church Social Hall - 123 Brady Street</a></td>
                <td>O</td>
                <td></td>
            </tr>
            <tr>
                <td>8:00 PM</td>
                <td>Southside Group</td>
                <td>Southside</td>
                <td><a href="https://goo.gl/maps/zPyS5bmpMfz" target="_blank">White Bluff Methodist Ch - 11911 White Bluff Rd</a></td>
                <td>C, BB</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>8:00 PM</td>
                <td>Grupo Lenguaje del Corazon</td>
                <td>Southside</td>
                <td>#2 Sage Ct. - behind Savannah Mall</td>
                <td>O, SP</td>
                <td></td>
            </tr>
            <tr>
                <td>8:00 PM</td>
                <td>Liberty Group</td>
                <td>Hinesville</td>
                <td><a href="https://goo.gl/maps/ZJRfowZiHfq" target="_blank">St. Phillips - 302 General Stewart Blvd.</a></td>
                <td>C, BB</td>
                <td></td>
            </tr>
             <tr>
                <td>8:00 PM</td>
                <td>Groupo 19 De Julio</td>
                <td>Hardeville, SC</td>
                <td><a href="https://goo.gl/maps/X5VC1Q4C5aQ2" target="_blank">18822 Whyte Hardee Blvd.</a></td>
                <td>O, SP</td>
                <td></td>
            </tr>
            <tr>
                <td>8:00 PM</td>
                <td>Savannah Group</td>
                <td>Midtown</td>
                <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                <td>O, S</td>
                <td>Y</td>
            </tr>
        </table>
    </div>
</div>