<div role="tabpanel" class="tab-pane" id="saturday">
    <div class="table-responsive">
        <table class="table sortable">
        	<tr>
                    <td>07:00 AM</td>
                    <td>Sunrise Solutions</td>
                    <td>Downtown</td>
                    <td><a href="https://goo.gl/maps/YegzMitNXNs" target="_blank">St. John's Episcopal Church - 27 W. Charlton St.</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>07:30 AM</td>
                    <td>Hats Off Skidaway</td>
                    <td>Southside</td>
                    <td><a href="https://goo.gl/maps/YAJ5y4WpQnu" target="_blank">SI United Methodist Church - 54 Diamond Cswy</a></td>
                    <td>C, BB</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>07:30 AM</td>
                    <td>New Meeting</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/bzkfF1iYPCN2" target="_blank">1427 E. 37th St. - 2nd Arnold Baptist Ch</a></td>
                    <td>O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>07:30 AM</td>
                    <td>Early Bird Group</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>8:00 AM</td>
                    <td>3rd Tradition Group</td>
                    <td>Richmond Hill</td>
                    <td><a href="https://goo.gl/maps/CVqGpaoXxFU2" target="_blank">RH Methodist Ch. - 9050 Ford Ave (Hwy 144)</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                 <tr>
                    <td>09:30 AM</td>
                    <td>Wrap It Up</td>
                    <td>Rincon</td>
                    <td><a href="https://goo.gl/maps/AqZG6ptws2B2" target="_blank">St. Luke’s Espicopal - 155 Goshen Rd</a></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>10:00 AM</td>
                    <td>Midway Group</td>
                    <td>Midway</td>
                    <td><a href="https://goo.gl/maps/kAbTE6mYFbE2" target="_blank">Midway Methodist Church - 215 Martin Road</a></td>
                    <td>O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10:00 AM</td>
                    <td>New Women's Group</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                    <td>C, W</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>12:00 PM</td>
                    <td>Downtown Group</td>
                    <td>Downtown</td>
                    <td><a href="https://goo.gl/maps/7nXPTvy9ror" target="_blank">Tapestry Church Office - 1020 Abercorn</a></td>
                    <td>O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12:00 PM</td>
                    <td>High Noon Group</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>5:30 PM</td>
                    <td>After Five Group</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>6:00 PM</td>
                    <td>Meditation Meeting</td>
                    <td>Eastside</td>
                    <td><a href="https://goo.gl/maps/bbCustY6t6B2" target="_blank">Unity Church - 2320 Sunset Blvd</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>6:00 PM</td>
                    <td>Tybee Gratitude Meeting</td>
                    <td>Tybee</td>
                    <td><a href="https://goo.gl/maps/v6ixhckLBpx" target="_blank">All Saints Episcopal - 804 2nd Ave. (Back door)</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>7:00 PM</td>
                    <td>New Pass It On</td>
                    <td>Wilmington Island</td>
                    <td><a href="https://goo.gl/maps/k2QxvNrgEv72" target="_blank">Lutheran Church of the Redeemer - 51 Wilmington Island Rd</a></td>
                    <td>C</td>
                    <td>N</td>
                </tr>
                <tr>
                    <td>7:30 PM</td>
                    <td>Language of the Heart</td>
                    <td>Pooler</td>
                    <td><a href="https://goo.gl/maps/9XUwV9fvUQv" target="_blank">Trinity United Methodist - 320 Benton Drive</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>7:30 PM</td>
                    <td>Garden City Group</td>
                    <td>Garden City</td>
                    <td><a href="https://goo.gl/maps/wqvUhFrxttG2" target="_blank">Good Shepard Lutheran Church - 41 Main Street</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>New Hope Honesty Group</td>
                    <td>Downtown</td>
                    <td><a href="https://goo.gl/maps/GooTfGWj28M2" target="_blank">Holy Spirit Lutheran Church - 622 E 37th Street</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Hope on the Island</td>
                    <td>Isle of Hope</td>
                    <td><a href="https://goo.gl/maps/tVxjtmWgEnr" target="_blank">St. Thomas Episcopal Church - 2 Saint Thomas Ave</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Had Enough Group</td>
                    <td>Hinesville</td>
                    <td><a href="https://goo.gl/maps/VHgT1UTcg6B2" target="_blank">Behind Red Cross Bldg - 216 Fraser Drive</a></td>
                    <td>O, BB</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Easy Does It Group</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                    <td>O, SS</td>
                    <td>Y</td>
                </tr>
                <!--<tr>
                    <td>10:00 PM</td>
                    <td>Saturday Night Live Speaker</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                    <td>O, S</td>
                    <td>Y</td>
                </tr>-->
        </table>
    </div>
</div>