<div role="tabpanel" class="tab-pane active" id="sunday">
    <div class="table-responsive">
        <table class="table sortable">
            <tr>
                <th>Time</th>
                <th>Meeting Name</th>
                <th>City / Area</th>
                <th>Location <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span><small> (Click for Map)</small></th>
                <th>Codes</th>
                <th>Accessible</th>
            </tr>
            <tr>
                <td>07:00 AM</td>
                <td>Sunrise Solutions</td>
                <td>Downtown</td>
                <td><a href="https://goo.gl/maps/uGZfCUTehrk" target="_blank">Late Church - Abercorn &amp; Broughton</a></td>
                <td>O</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>07:30 AM</td>
                <td>Early Bird Group</td>
                <td>Midtown</td>
                <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                <td>O</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>09:00 AM</td>
                <td>Women’s Step Study</td>
                <td>Midtown</td>
                <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                <td>C, SS, W</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>09:00 AM</td>
                <td>Speaker Meeting</td>
                <td>Pooler</td>
                <td><a href="https://goo.gl/maps/Y3t8waYryyG2" target="_blank">Western Sizzler -230 E. Hwy 80</a></td>
                <td>O, S</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>11:00 AM</td>
                <td>Freethinkers/Atheists/Agnostics</td>
                <td>Downtown</td>
                <td><a href="https://goo.gl/maps/Xacp84QmpUS2" target="_blank">Offices of New Day - 1805 Abercorn St.</a></td>
                <td>O</td>
                <td></td>
            </tr>
            <tr>
                <td>12:30 PM</td>
                <td>High Noon Group</td>
                <td>Midtown</td>
                <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                <td>O, BB</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>3:00 PM</td>
                <td>Nueva Vida Group</td>
                <td>Garden City</td>
                <td><a href="https://goo.gl/maps/DQwtGqeTnRJ2" target="_blank">4907 Old Louisville Rd.</a></td>
                <td>O, SP</td>
                <td></td>
            </tr>
            <tr>
                <td>4:00 PM</td>
                <td>Men's Meeting</td>
                <td>Midtown</td>
                <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                <td>C, M</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>5:00 PM</td>
                <td>Nueva Vida Group</td>
                <td>Garden City</td>
                <td><a href="https://goo.gl/maps/DQwtGqeTnRJ2" target="_blank">4907 Old Louisville Rd.</a></td>
                <td>O, SP</td>
                <td></td>
            </tr>
            <tr>
                <td>5:00 PM</td>
                <td>3rd Tradition Gr</td>
                <td>Richmond Hill</td>
                <td><a href="https://goo.gl/maps/CVqGpaoXxFU2" target="_blank">RH Methodist Ch. - 9050 Ford Ave (Hwy 144)</a></td>
                <td>O</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>6:00 PM</td>
                <td>New Women's Group</td>
                <td>Midtown</td>
                <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                <td>C, W</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>7:30 PM</td>
                <td>True Colors Group</td>
                <td>Downtown</td>
                <td><a href="https://goo.gl/maps/2ab7u2fe9Pz" target="_blank">Unitarian Universalist Church - 311 E. Harris St. 2nd Fl</a></td>
                <td>O, G</td>
                <td></td>
            </tr>
            <tr>
                <td>7:30 PM</td>
                <td>Serenity Group</td>
                <td>Wilmington Island</td>
                <td><a href="https://goo.gl/maps/Piaa8V56xvo" target="_blank">W.I. Presbyterian Church - 450 N. Cromwell</a></td>
                <td>O</td>
                <td>N</td>
            </tr>
            <tr>
                <td>7:30 PM</td>
                <td>Language of the Heart</td>
                <td>Pooler</td>
                <td><a href="https://goo.gl/maps/yhZiMYFvRzM2" target="_blank">Trinity United Methodist - 320 Benton Drive</a></td>
                <td>O</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>8:00 PM</td>
                <td>Easy Does It Group</td>
                <td>Midtown</td>
                <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                <td>O</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>8:00 PM</td>
                <td>Tybee Group</td>
                <td>Tybee</td>
                <td><a href="https://goo.gl/maps/v6ixhckLBpx" target="_blank">All Saints Episcopal - 804 2nd Ave. (Back door)</a></td>
                <td>O</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>8:00 PM</td>
                <td>Eden Meeting</td>
                <td>Eden</td>
                <td><a href="https://goo.gl/maps/h8NmSsp9W7T2" target="_blank">Powers Baptist Church - Hwy 80 W of Old River Rd</a></td>
                <td>O</td>
                <td></td>
            </tr>
            <tr>
                <td>8:00 PM</td>
                <td>Liberty Group</td>
                <td>Hinesville</td>
                <td><a href="https://goo.gl/maps/j1Wd3um58En" target="_blank">St Phillips Episcopal Church - 302 General Stewart Blvd</a></td>
                <td>C</td>
                <td></td>
            </tr>
            <tr>
                <td>8:00 PM</td>
                <td>Midtown Group</td>
                <td>Midtown</td>
                <td><a href="https://goo.gl/maps/tEjd4vfNSJt" target="_blank">New Covenant Church - 2201 Bull St @ 38th</a></td>
                <td>C</td>
                <td>N</td>
            </tr>
            <tr>
                <td>8:00 PM</td>
                <td>Broad Highway</td>
                <td>Eastside</td>
                <td><a href="https://goo.gl/maps/DQF3KMaMamK2" target="_blank">St. Michael’s Episcopal Church - 3101 Waters Ave.</a></td>
                <td>O, S</td>
                <td>Y</td>
            </tr>
        </table>
    </div>
</div>