<div role="tabpanel" class="tab-pane" id="tuesday">
    <div class="table-responsive">
        <table class="table sortable">
                <tr>
                    <th>Time</th>
                    <th>Meeting Name</th>
                    <th>City / Area</th>
                    <th>Location <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></th>
                    <th>Codes</th>
                    <th>Accessible</th>
                </tr>
                <tr>
                    <td>07:00 AM</td>
                    <td>Happy, Joyous &amp; Free</td>
                    <td>Richmond Hill</td>
                    <td><a href="https://goo.gl/maps/vhHmfyTGy8k" target="_blank">St. Anne's Catholic Church - 10550 Ford Ave</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>07:00 AM</td>
                    <td>Sunrise Solutions</td>
                    <td>Downtown</td>
                    <td><a href="https://goo.gl/maps/YegzMitNXNs" target="_blank">St. John's Episcopal Church - 27 W. Charlton St.</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>07:30 AM</td>
                    <td>Hats Off Skidaway</td>
                    <td>Southside</td>
                    <td><a href="https://goo.gl/maps/YAJ5y4WpQnu" target="_blank">SI United Methodist Church - 54 Diamond Cswy</a></td>
                    <td>C, BB</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>07:30 AM</td>
                    <td>Early Bird Group</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>11:30 AM</td>
                    <td>Liberty Group</td>
                    <td>Fort Stewart</td>
                    <td><a href="https://goo.gl/maps/HPZVsxRUP8r" target="_blank">ASAP Bldg 201A - 808 Worchester Ave</a></td>
                    <td>O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12:00 PM</td>
                    <td>High Noon Group</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                    <td>O, SS</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>12:00 PM</td>
                    <td>Freethinkers/Athiests/Agnostics</td>
                    <td>Downtown</td>
                    <td><a href="https://goo.gl/maps/7nXPTvy9ror" target="_blank">Tapestry Church Office - 1020 Abercorn</a></td>
                    <td>O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12:00 PM</td>
                    <td>Tybee Group</td>
                    <td>Tybee</td>
                    <td><a href="https://goo.gl/maps/1dgJtvzGbgB2" target="_blank">Trinity United Methodist Church - 911 Butler Ave</a></td>
                    <td>O, BB</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12:00 PM</td>
                    <td>Had Enough Group</td>
                    <td>Hinesville</td>
                    <td><a href="https://goo.gl/maps/VHgT1UTcg6B2" target="_blank">Behind Red Cross Bldg - 216 Fraser Drive</a></td>
                    <td>O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>1:00 PM</td>
                    <td>Brown Bag Group</td>
                    <td>Downtown</td>
                    <td><a href="https://goo.gl/maps/iEqx7cBtNdJ2" target="_blank">18 Abercorn Street (Enter on Bryan)</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>5:30 PM</td>
                    <td>Downtown Group</td>
                    <td>Downtown</td>
                    <td><a href="https://goo.gl/maps/7nXPTvy9ror" target="_blank">Tapestry Church Office - 1020 Abercorn</a></td>
                    <td>O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>5:30 PM</td>
                    <td>After Five Group</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>6:00 PM</td>
                    <td>St. Francis Women's Meeting</td>
                    <td>Wilmington Island</td>
                    <td><a href="https://goo.gl/maps/brbacukaqeR2" target="_blank">St. Francis Episcopal Church - 590 Walthour Rd</a></td>
                    <td>W, C</td>
                    <td>N</td>
                </tr>
                <tr>
                    <td>6:30 PM</td>
                    <td>St. Mary's Meeting</td>
                    <td>Downtown</td>
                    <td><a href="https://goo.gl/maps/RTqPcL5Bo4q" target="_blank">St. Mary's Community Center - 812 W. 36th Street</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>7:00 PM</td>
                    <td>Had Enough Group</td>
                    <td>Hinesville</td>
                    <td><a href="https://goo.gl/maps/VHgT1UTcg6B2" target="_blank">Behind Red Cross Bldg - 216 Fraser Drive</a></td>
                    <td>W, O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>7:00 PM</td>
                    <td>Liberty Group</td>
                    <td>Hinesville</td>
                    <td><a href="https://goo.gl/maps/W1QdmYgF3j42" target="_blank">Shriners Hall (Behind VFW) - 6602 Georgia Highway 196 </a></td>
                    <td>M, O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>7:30 PM</td>
                    <td>Garden City Group</td>
                    <td>Garden City</td>
                    <td><a href="https://goo.gl/maps/wqvUhFrxttG2" target="_blank">Good Shepard Lutheran Church - 41 Main Street</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>7:30 PM</td>
                    <td>Language of the Heart</td>
                    <td>Pooler</td>
                    <td><a href="https://goo.gl/maps/9XUwV9fvUQv" target="_blank">Trinity United Methodist - 320 Benton Drive</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Serenity Group</td>
                    <td>Wilmington Island</td>
                    <td><a href="https://goo.gl/maps/Piaa8V56xvo" target="_blank">W.I. Presbyterian Church - 450 N. Cromwell</a></td>
                    <td>C</td>
                    <td>N</td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Nueva Vida Group</td>
                    <td>Garden City</td>
                    <td><a href="https://goo.gl/maps/DQwtGqeTnRJ2" target="_blank">4907 Old Louisville Rd.</a></td>
                    <td>O, SP</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>3rd Tradition Group</td>
                    <td>Richmond Hill</td>
                    <td><a href="https://goo.gl/maps/CVqGpaoXxFU2" target="_blank">RH Methodist Ch. - 9050 Ford Ave (Hwy 144)</a></td>
                    <td>O, BB</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>New Hope Honesty Group</td>
                    <td>Downtown</td>
                    <td><a href="https://goo.gl/maps/GooTfGWj28M2" target="_blank">Holy Spirit Lutheran Church - 622 E 37th Street</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Hope on the Island</td>
                    <td>Isle of Hope</td>
                    <td><a href="https://goo.gl/maps/tVxjtmWgEnr" target="_blank">St. Thomas Episcopal Church - 2 Saint Thomas Ave</a></td>
                    <td>O, BB</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Groupo 19 De Julio</td>
                    <td>Hardeville, SC</td>
                    <td><a href="https://goo.gl/maps/X5VC1Q4C5aQ2" target="_blank">18822 Whyte Hardee Blvd.</a></td>
                    <td>O, SP</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>New Horizon</td>
                    <td>Rincon</td>
                    <td><a href="https://goo.gl/maps/Uyy1EbYyhxv" target="_blank">St. Luke's Episcopal Church - 155 Goshen Road</a></td>
                    <td>O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>White Bluff Group</td>
                    <td>Southside</td>
                    <td><a href="https://goo.gl/maps/npPzSYvzN5t" target="_blank">WB Presbyterian Church - 10710 White Bluff Rd</a></td>
                    <td>C</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>08:30 PM</td>
                    <td>Don't Drink Liquor Club</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                    <td>O, BB</td>
                    <td>Y</td>
                </tr>
        </table>
    </div>
</div>

