<div role="tabpanel" class="tab-pane" id="wednesday">
    <div class="table-responsive">
        <table class="table sortable">
                <tr>
                    <th>Time</th>
                    <th>Meeting Name</th>
                    <th>City / Area</th>
                    <th>Location <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></th>
                    <th>Codes</th>
                    <th>Accessible</th>
                </tr>
                <tr>
                    <td>07:00 AM</td>
                    <td>Sunrise Solutions</td>
                    <td>Downtown</td>
                    <td><a href="https://goo.gl/maps/YegzMitNXNs" target="_blank">St. John's Episcopal Church - 27 W. Charlton St.</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>07:30 AM</td>
                    <td>Hats Off Skidaway</td>
                    <td>Southside</td>
                    <td><a href="https://goo.gl/maps/YAJ5y4WpQnu" target="_blank">SI United Methodist Church - 54 Diamond Cswy</a></td>
                    <td>O, BB</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>07:30 AM</td>
                    <td>Early Bird Group</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>12:00 PM</td>
                    <td>High Noon Group</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                    <td>O, BB</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>12:00 PM</td>
                    <td>Had Enough Group</td>
                    <td>Hinesville</td>
                    <td><a href="https://goo.gl/maps/VHgT1UTcg6B2" target="_blank">Behind Red Cross Bldg - 216 Fraser Drive</a></td>
                    <td>O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12:00 PM</td>
                    <td>Tybee Group</td>
                    <td>Tybee</td>
                    <td><a href="https://goo.gl/maps/1dgJtvzGbgB2" target="_blank">Trinity United Methodist Church - 911 Butler Ave</a></td>
                    <td>O, BB</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12:00 PM</td>
                    <td>4th St. Meeting</td>
                    <td>Rincon</td>
                    <td><a href="https://goo.gl/maps/qhvCVEJcAvS2" target="_blank">366 Richland Ave</a></td>
                    <td>O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>1:00 PM</td>
                    <td>Brown Bag Group</td>
                    <td>Downtown</td>
                    <td><a href="https://goo.gl/maps/iEqx7cBtNdJ2" target="_blank">18 Abercorn Street (Enter on Bryan)</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>5:30 PM</td>
                    <td>Downtown Group</td>
                    <td>Downtown</td>
                    <td><a href="https://goo.gl/maps/7nXPTvy9ror" target="_blank">Tapestry Church Office - 1020 Abercorn</a></td>
                    <td>O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>6:00 PM</td>
                    <td>Had Enough Group</td>
                    <td>Hinesville</td>
                    <td><a href="https://goo.gl/maps/VHgT1UTcg6B2" target="_blank">Behind Red Cross Bldg - 216 Fraser Drive</a></td>
                    <td>O, SS</td>
                    <td></td>
                </tr>
                <tr>
                    <td>6:00 PM</td>
                    <td>New Women's Group</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                    <td>C, W</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>7:00 PM</td>
                    <td>New Pass It On</td>
                    <td>Wilmington Island</td>
                    <td><a href="https://goo.gl/maps/k2QxvNrgEv72" target="_blank">Lutheran Church of the Redeemer - 51 Wilmington Island Rd</a></td>
                    <td>C, BG</td>
                    <td>N</td>
                </tr>
                <tr>
                    <td>7:30 PM</td>
                    <td>Saving Grace</td>
                    <td>Guyton</td>
                    <td><a href="https://goo.gl/maps/ANza5pdaLmK2" target="_blank">Guyton Public Safety Complex - 505 Magnolia St.</a></td>
                    <td>O</td>
                    <td>N</td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Pembroke Group</td>
                    <td>Pembroke</td>
                    <td><a href="https://goo.gl/maps/PcBAAHnDZZS2" target="_blank">N. Bryan County Library - 1018 Camelia Dr.</a></td>
                    <td>O</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Broad Highway</td>
                    <td>Eastside</td>
                    <td><a href="https://goo.gl/maps/DQF3KMaMamK2" target="_blank">St. Michael’s Episcopal Church - 3101 Waters Ave.</a></td>
                    <td>O, YP, BG</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Midtown Group</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/PxMS8ifMDU22" target="_blank">New Covenant Church - 2201 Bull St. </a></td>
                    <td>O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Grupo Lenguaje del Corazon</td>
                    <td>Southside</td>
                    <td>#2 Sage Ct. - behind Savannah Mall</td>
                    <td>O, SP</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Midway Group</td>
                    <td>Midway</td>
                    <td><a href="https://goo.gl/maps/kAbTE6mYFbE2" target="_blank">Midway Methodist Church - 215 Martin Road</a></td>
                    <td>O</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8:00 PM</td>
                    <td>Easy Does It Group</td>
                    <td>Midtown</td>
                    <td><a href="https://goo.gl/maps/ktweVVKeaEu" target="_blank">24-Hour Club - 1501 Eisenhower Drive</a></td>
                    <td>SS</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>8:30 PM</td>
                    <td>Tybee Group</td>
                    <td>Tybee</td>
                    <td><a href="https://goo.gl/maps/1dgJtvzGbgB2" target="_blank">Trinity United Methodist Church - 911 Butler Ave</a></td>
                    <td>O, BB</td>
                    <td></td>
                </tr>
        </table>
    </div>
</div>